.main{
    margin: 45%;
    margin-top: 15%;
}

*{
    background-color: black;
}

.circle{
    border:1px solid black;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: white;
}

.circle-red{
    border:1px solid black;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: red;
    outline: none;
}

.circle-yellow{
    border:1px solid black;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: yellow;
    outline: none;
}

.circle-green{
    border:1px solid black;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: green;
    outline: none;
}